<body class="bg-gray-100 font-family-karla flex overflow-y-auto">
  <% if admin_signed_in? %>
    <%= render partial: "admins/shared/aside" %>
  <% elsif recruiter_signed_in? %>
    <%= render partial: "recruiters/shared/aside" %>
  <% end %>
    <div class="relative w-full flex flex-col content-offset">
      <% if admin_signed_in? %>
        <%= render partial: "admins/shared/header" %>
      <% elsif recruiter_signed_in? %>
        <%= render partial: "recruiters/shared/header" %>
      <% end %>
      <div class="w-full border-t flex flex-col">
        <main class="w-full p-6">
          <h1 class="w-full text-3xl text-black sticky top-12 z-10 bg-gray-100 mb-6 pb-8">応募者詳細画面</h1>
          <div>
            <%= render partial: 'job_card', locals: { job: @job } %>
          </div>
          <div class="flex justify-center items-center w-full mt-6 pl-0 lg:pl-2">
            <div class="leading-loose w-2/3">
              <%= render partial: "content", locals: { applicant: @applicant, job_application: @job_application } %>
              <%= form_with url: job_applicant_path(@job, @applicant), local: true, method: :put do |f| %>
                <%= render partial: 'form', locals: { f: f, application_statuses: @applicatin_statuses, job_application: @job_application } %>
              <% end %>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

</body>
