<body class="bg-gray-100 font-family-karla flex overflow-y-auto">
  <%= render partial: "employees/shared/aside" %>
    <div class="relative w-full flex flex-col content-offset">
      <%= render partial: "employees/shared/header" %>
      <div class="w-full border-t flex flex-col">
        <main class="w-full p-6">
          <h1 class="w-full text-3xl text-black sticky top-12 z-10 bg-gray-100 mb-6 pb-8">応募確認画面</h1>
          <%= render partial: "application_job" %>
          <div class="flex justify-center items-center w-full mt-6 pl-0 lg:pl-2">
            <div class="leading-loose w-2/3">
              <%= render partial: "content", locals: { job_application: @job_application } %>
              <div class="flex justify-between mt-8 p-2 w-full">
<%= button_to "入力画面へ戻る", new_job_job_application_path(@job), method: :get, class: "btn flex bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded" %>

<%= button_to "応募する", job_job_applications_path(@job), method: :post, class: "btn flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" %>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <%= javascript_include_tag "recruiters/new", defer: true %>

</body>
