<body class="bg-gray-100 font-family-karla flex overflow-y-auto">
  <%= render partial: "employees/shared/aside" %>
    <div class="relative w-full flex flex-col content-offset">
      <%= render partial: "employees/shared/header" %>
      <div class="w-full border-t flex flex-col">
        <main class="w-full p-6">
          <h1 class="w-full text-3xl text-black sticky top-12 z-10 bg-gray-100 mb-6 pb-8">プロファイル情報画面</h1>
          <div class="flex justify-center items-center w-full mt-6 pl-0 lg:pl-2">
            <div class="leading-loose w-2/3">
              <%= render partial: "static_content", locals: { employee_profile: @employee_profile } %>
              <%= form_with model: @employee_profile, url: edit_confirm_employee_profile_path(current_employee.username), method: :post, local: true do |f| %>
                <%= render partial: 'form', locals: { f: f, employee_profile: @employee_profile }, class: "mx-auto m-4 p-10 bg-white rounded shadow-xl" %>
              <% end %>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
</body>
