<body data-recruiter-username="<%= current_recruiter.username %>" class="bg-gray-100 font-family-karla flex">
  <%= render partial: "recruiters/shared/aside" %>
  <div class="relative w-full flex flex-col content-offset h-screen overflow-y-auto">
    <%= render partial: "recruiters/shared/header" %>
    <div class="w-full border-t flex flex-col bg-gray-100">
      <main class="w-full flex-grow p-6">
        <div class="fixed-content bg-gray-100 pb-8">
          <h1 class="text-3xl text-black pb-6">求人一覧</h1>
          <div class="flex justify-between items-center mb-4">
            <p class="pb-3"><%= @department_name %></p>
            <%= link_to "新規求人作成", new_recruiter_job_path, class: "btn flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" %>
          </div>
          <div class="flex">
            <%= form_with(url: jobs_path, method: :get, local: true, remote: true, id: 'job-status-filter-form', class: 'w-1/6 mr-2') do |f| %>
              <%= f.hidden_field :department, value: params[:department] %>
                <label class="block text-sm text-gray-600">ステータス</label>
                <%= f.select :status, options_for_select(@job_statuses.map { |status| [status.name, status.id] }.unshift(['すべて', '']), selected: params[:status] || 2), {}, { class: "px-2 py-2 w-full text-gray-700 rounded" } %>
            <% end %>
            <%= search_form_for @q, url: jobs_path, remote: true, html: { id: 'search-form', class: 'ml-2 w-1/3' } do |f| %>
                <%= f.label :global_search_cont, "キーワード", class: "block text-sm text-gray-600" %>
                <%= f.search_field :global_search_cont, class: "px-2 py-2 w-full text-gray-700 rounded" %>
                <%= f.submit "Search", style: "display: none;" %>
            <% end %>
          </div>
        </div>
        <% if @jobs.any? %>
          <div id="jobs" class="w-full bg-gray-100 flex-grow">
            <%= render partial: 'jobs_paginate', locals: { jobs: @jobs } %>
          </div>
        <% else %>
          <p class="mt-4 text-center text-red-600">現在この条件に該当する求人はありません</p>
        <% end %>
      </main>
    </div>
  </div>
  <%= javascript_importmap_tags "recruiters/index" %>
</body>
